.root {
  // color: inherit;
  // overflow-y: auto;
  @apply bg-base-100;
  // @apply rounded;
  // @apply rounded-b-none;

  // & * {
  //   overflow-anchor: none;
  // }
  // & .scrollAnchor {
  //   overflow-anchor: auto;
  //   height: 1px;
  // }
}

.root::-webkit-scrollbar {
  padding: 0 2px;
  width: 12px;
  margin: 0 2px;
  /* width of the entire scrollbar */
}

.root::-webkit-scrollbar-track {
  padding: 0 2px;
  margin: 0 2px;
  @apply bg-base-100;
}

.root::-webkit-scrollbar-thumb {
  padding: 0 2px;
  margin: 0 2px;
  /* width of the entire scrollbar */

  border-radius: 16px;
  border: 2px solid;
  @apply border-base-100;
  @apply bg-base-200;
}

body[data-theme="dark"] {
  .root::-webkit-scrollbar-track {
    @apply bg-base-100;
  }

  .root::-webkit-scrollbar-thumb {
    @apply border-base-100;
    @apply bg-base-200;
  }
}
