.root {
  color: inherit;
  overflow-y: auto;
  @apply bg-base-100;
  @apply rounded;
  @apply rounded-b-none;

  & * {
    overflow-anchor: none;
  }
  & .scrollAnchor {
    overflow-anchor: auto;
    height: 1px;
  }
}

.root::-webkit-scrollbar {
  padding: 0 2px;
  width: 8px;
  margin: 0 2px;
  /* width of the entire scrollbar */
}

.root::-webkit-scrollbar-track {
  padding: 0 2px;
  margin: 0 2px;
  @apply bg-base-100;
}

.root::-webkit-scrollbar-thumb {
  padding: 0 2px;
  margin: 0 2px;
  /* width of the entire scrollbar */

  /* background-color: blue;    color of the scroll thumb */
  border-radius: 16px;
  border: 1px solid;
  @apply border-base-100;
  @apply bg-neutral-200;
}
