.root {
  @apply flex;
  @apply h-full;
  @apply max-h-full;
  @apply flex-col;
  @apply overflow-hidden;
  @apply md:rounded;
  @apply bg-blue-100;
  @apply drop-shadow-lg;
  @apply lg:flex-row;

  h1 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    line-height: 1.1;
  }
  h2 {
    font-size: var(--font-size-md);
    font-weight: 600;
    line-height: 1.2;
  }
  h3 {
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 1.2;
  }
  h4 {
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 1.3;
  }
  h5 {
    font-size: var(--font-size-sm);
    font-weight: 600;
    line-height: 1.4;
  }
  h6 {
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 1.5;
  }
  p {
    font-size: var(--font-size-sm);
    // line-height: 1.5;
  }
  label {
    font-size: var(--font-size-xs);
    font-weight: 600;
    line-height: 1;
  }
  small {
    font-size: var(--font-size-xs);
  }

  & .fullScreenToggle {
    @apply absolute;
    @apply top-3;
    @apply right-3;
    @apply z-10;
    display: none;
    @apply md:flex;
  }

  & > div {
    @apply relative;
    @apply order-last;
    @apply flex;
    @apply h-full;
    @apply flex-col;
    @apply md:order-first;
    @apply md:p-4;
    @apply lg:w-9/12;
  }

  & > aside {
    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply p-2;
    @apply pr-1;
    @apply md:justify-end;
    @apply lg:w-3/12;
    @apply md:p-4;
    @apply md:pl-2;
  }

  &.fullScreen {
    @apply absolute;
    @apply left-0;
    @apply top-0;
    height: 100vh;
    width: 100vw;
  }
}
