.root {
  outline: none !important;

  max-height: 100%;
  width: 100%;
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  /* box-shadow: 4px 4px 0px #000; */
  &.stacked {
    align-items: stretch;
  }
  &.stacked::after,
  &.stacked input,
  &.stacked textarea {
    grid-area: 2/1;
  }

  &::after,
  & input,
  & textarea {
    /* width: auto; */
    grid-area: 1/2;
    resize: none;
  }

  &::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
  }

  &:focus-within > span {
    color: hsl(var(--primary) / var(--tw-text-opacity));
  }

  & > span {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    /* text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15); */
  }

  textarea {
    @apply appearance-none;
    @apply block;
    @apply border-0;
    @apply border-gray-300;
    @apply border;
    @apply cursor-text;
    @apply ease-in-out;
    @apply focus:border-blue-400;
    @apply focus:outline-none;
    @apply focus:placeholder-gray-400;
    @apply hover:border-blue-400;
    @apply lg:min-w-full;
    @apply md:w-auto;
    @apply outline-offset-2;
    @apply p-3;
    @apply placeholder-gray-500;
    @apply resize-none;
    @apply rounded-md;
    @apply md:rounded-t-md;
    @apply md:rounded-b-none;
    @apply pr-24;
    @apply md:pr-0;
    // @apply text-base;
    @apply transition-colors;
  }
  .hasError textarea {
    @apply border-red-600;
    @apply hover:border-red-600;
    @apply focus:border-red-600;
  }
}
