.collapsible {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  & > label {
    cursor: pointer;
    transition: border-color 0.3s ease-in-out; /* Add a border transition */
  }

  &.peekOnHover > label:hover {

    & > .collapsibleContents {
      max-height: 15px;
    }
  }

  &.peekOnHover > input:checked + label + .collapsibleContent,
  & > input:checked + label + .collapsibleContent {
    max-height: 100%;
  }

  &:has(> input:checked) {
    flex-shrink: 1;
  }

  & > input:checked + label {
    border-bottom-color: transparent; /* Change border color when the content is visible */
  }


  &:has(> input:checked) > .collapsibleContent {
    // flex-shrink: 1;
    overflow-y: auto;
  }


  & > .collapsibleContent {
    max-height: 0;
    overflow: hidden;
    // overflow-y: scroll;
    transition: all 0.3s ease-in-out, padding 0.3s ease-in-out; /* Update the transition */
  }

  & > label {
    border-bottom: 1px solid; /* Add a border at the bottom of the label */
    @apply border-blue-200;
    padding-bottom: 1rem;
  }
}
