body[data-theme="dark"] .root {
  background: linear-gradient(135deg, rgba(45, 55, 65, 1) 0%, rgba(25, 35, 45, 1) 100%);
}

.root {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1) 0%, rgba(220, 230, 245, 1) 60%);
  h3 {
    font-size: var(--font-size-sm);
  }

  & > div {
    // Style the parsed markdown
    p {
      font-size: inherit;
    }
    pre {
      white-space: inherit;
    }
  }
}
