.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate-width-slow {
  animation: auto-grow 3s ease-in-out;
}

.animate-width-medium {
  animation: auto-grow 2.5s ease-in-out;
}

.animate-width-fast {
  animation: auto-grow 2s ease-in-out;
}

.animate-width-fastest {
  animation: auto-grow 1.5s ease-in-out;
}

@keyframes auto-grow {
  from {
    width: 0; /* initial width */
  }
  to {
    width: 100%; /* final width */
  }
}

// Circle Backgrounnd Animation
// ----------------------------------------------------------------

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.circles-top-outer {
  transform-origin: 73px 69px;
  animation: rotate 60s linear infinite;
}

.circles-top-inner {
  transform-origin: 73px 69px;
  animation: rotate 40s linear infinite;
}

.circles-bottom-outer {
  transform-origin: 134px 222px;
  animation: rotate 50s linear infinite;
}

.circles-bottom-inner {
  transform-origin: 134px 222px;
  animation: rotate 30s linear infinite;
}
