body.bg-darkhex:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(to right top, #18191b, #19191b, #121212, #121111, #000000);
}

// =================================================================================================
// DaisyUI Theme Customization
// =================================================================================================

// INPUTS
// ----------------------------------------------
body[data-theme="light"] {
  background: linear-gradient(186deg, rgba(230, 230, 230, 1) 0%, rgba(200, 200, 200, 1) 100%);
}
body[data-theme="dark"] {
  background: linear-gradient(186deg, rgba(40, 45, 55, 1) 0%, rgba(25, 30, 40, 1) 100%);
}

[data-theme="light"] {
  .label {
    @apply text-neutral-600;
  }
  .label-text {
    @apply text-neutral-700;
  }
  .input,
  textarea {
    @apply text-neutral-900;
  }
}

[data-theme="dark"] {
  .label {
    @apply text-neutral-400;
  }
  .label-text {
    @apply text-neutral-400;
  }
  .input,
  textarea {
    @apply text-neutral-100;
    @apply placeholder-neutral-400;
  }
  .input:focus,
  textarea:focus {
    @apply placeholder-neutral-500;
  }
  textarea {
    @apply border-slate-600;
    @apply bg-slate-700;
  }
  .search-field input {
    background: linear-gradient(135deg, rgba(35, 45, 55, 1) 0%, rgba(25, 35, 45, 1) 100%);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15), inset -1px -1px 3px rgba(255, 255, 255, 0.05);
    border: none;
    // padding: 10px;
    // font-size: 16px;
    color: #f1f2f3;
  }
}
