@use "./tailwind";
// Tailwind should go first, so that it can be overridden by the rest of the styles.
@use "./_reset";
@use "./_colors";
@use "./_mixins";
@use "./_utilities";
@use "./_text";
@use "./_themes";
@use "./_animations";

body.drawer,
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  height: 100.001vh;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.height-screen-helper {
  height: calc(100vh - 80px);
}
